@font-face {
    font-family: Lato-Regular;
    src: url("fonts/Lato-Regular.ttf");
}

html, body {
    height: 100%;
}

body {
    background: #202024;
    }

#snow {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#welcome {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
  color: white;
  font-family: Lato-Regular;
}

#survey {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
  color: white;
  font-family: Lato-Regular;
  display: none;
}

#yes {
  position: relative;
	background-color: #006622;
  color: white;
  right: 10px;
  width: 100px;
}

#no {
  position: relative;
	background-color: #cc0000;
  color: white;
  left: 10px;
  width: 100px;
}

#yes:hover{
    /* border-color: #a6a6a6;
    color: #a6a6a6; */
}

#no:hover {
  background-color: #006622;
  /* border-color: #a6a6a6;
  color: #a6a6a6; */
}

#bomb, #num, #ball{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#num {
    top: 40%;
    font-size: 80px;
    font-family: Lato-Regular;
}

#ball {
    top: 160px;
}

button {
    background-color: transparent;
    border: solid;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    outline: none;
}

button:hover {
    cursor: pointer;
}

#click {
    position: relative;
    top: 20px;
    width: 140px;
}

#click:hover {
    animation-name: toWhite;
    animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px)  {
  #no {
    display: none;
  }
}

@keyframes toWhite {
    from {background-color: #202024;}
    to {background-color: white;}
}
